.services-wrapper-block {
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 4px solid #2e2e2d;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 5.5em 4em 3em;
    display: flex;
    position: relative;
    
}

  @media (max-width: 768px) {
    .responsive-paragraph {
      font-size: 14px; /* Adjust font size for smaller screens as needed */
    }
  }