.service-block-holder.white-background-card {
    background-color: #fff;
    border-color: #2e2e2d;
    border-radius: 30px;
    margin-bottom: 60px;
    position: relative;
}

.fake-3d-block {
    z-index: -1;
    width: 102%;
    height: 103%;
    /* -webkit-text-stroke-color: #2b2b2b; */
    background-color: #2b2b2b;
    border-radius: 30px;
    position: absolute;
    top: 2%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.service-title-holder {
    background-color: var(--black);
    color: black;
    border-radius: 12px;
    padding: 6px 16px;
    position: relative;
}

.fake-3d-block {
    z-index: -1;
    width: 102%;
    height: 103%;
    /* -webkit-text-stroke-color: #2b2b2b; */
    background-color: #2b2b2b;
    border-radius: 30px;
    position: absolute;
    top: 2%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.service-title-holder {
    background-color: black;
    color: #fff;
    border-radius: 12px;
    padding: 6px 16px;
    position: relative;
}